NEXT_PUBLIC_API_URL=https://tubegenius-production-b4b6.up.railway.app/api
NEXT_PUBLIC_GOOGLE_CLIENT_ID=658417643408-29csi91f3mm71brdvvqq37qmhlna0cr7.apps.googleusercontent.com
NEXT_PUBLIC_STRIPE_PORTAL_LINK="http://billing.stripe.com/p/login/tes2ZO00"

NEXT_PUBLIC_WEBSITE_URL=https://aikahaani.com
NEXT_PUBLIC_BYPASS_PAYMENT_CHECKS=true
# Set to false to make real API calls; true returns mock data (useful for UI dev)
NEXT_PUBLIC_BYPASS_AUTH=false
