NEXT_PUBLIC_API_URL=https://tubegenius-production-b4b6.up.railway.app/api
NEXT_PUBLIC_GOOGLE_CLIENT_ID= 658417643408-29csi91f3mm71brdvvqq37qmhlna0cr7.apps.googleusercontent.com
NEXT_PUBLIC_STRIPE_PORTAL_LINK="http://billing.stripe.com/p/login/tes2ZO00"
# STRIPE_SECRET_KEY="sk_test_51S2Zt1FQckeg94XmbyVpAk9VMq5zirX01WZogE0ia9m6L5vK3JgHVRz00yD2VDPGx"
